{% extends 'base.html' %}

{% block content %}
{% if messages %}
{% for message in messages %}
  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}
<a style="float:right" href="{% url 'new_quiz' %}">
  <button class="btn btn-primary">Create Quiz</button>
</a>
<h1> Dashboard </h1>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">All Quizzes</a>
  </li>
  <li>
    {% if request.user.is_authenticated %}
    <a class="nav-link" id="taken-tab" data-toggle="tab" href="#taken" role="tab" aria-controls="taken" aria-selected="false">Taken</a>
    {% else %}
    <a class="nav-link disabled" id="taken-tab" data-toggle="tab" href="#taken" role="tab" aria-controls="taken" aria-selected="false">Taken</a>
    {% endif %}
  </li>
  <li>
    {% if request.user.is_authenticated %}
    <a class="nav-link " id="myquizzes-tab" data-toggle="tab" href="#myquizzes" role="tab" aria-controls="myquizzes" aria-selected="false">Quizzes by me</a>
    {% else %}
    <a class="nav-link disabled" id="myquizzes-tab" data-toggle="tab" href="#myquizzes" role="tab" aria-controls="myquizzes" aria-selected="false">Quizzes by me</a>
    {% endif %}
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <table class="table table-hover">
      <thead class="thead-inverse">
       <tr>
         <th>Quiz</th>
         <th>Author</th>
         <th>Questions</th>
         <th>Taken By</th>
         <th></th><th></th>
       </tr>
      </thead>
      <tbody>
        {% for quiz in all_quizzes %}
        <tr>
          <td>{{ quiz.quiz_name }}<br>
          <small class="text-muted d-block">{{ quiz.date_created|date:"d M, Y \a\t G:i" }}</small></td>
          <td class="align-middle">{{ quiz.author.first_name }}</td>
          <td class="align-middle">{{ quiz.no_of_ques }}</td>
          <td class="align-middle">{{ quiz.taken_by }}</td>
          <td class="align-middle"><a href="{% url 'question' quiz.id 1 %}"><button class="btn btn-success">Take Quiz</button></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade show" id="taken" role="tabpanel" aria-labelledby="taken-tab">
    <table class="table">
      <thead>
        <th>Quiz</th>
        <th>Author</th>
        <th>Taken On</th>
        <th>Score</th>
      </thead>
      <tbody>
          {% for q in taken_quizzes %}
          <tr>
            <td>{{ q.quiz }}</td>
            <td>{{ q.quiz.author.first_name }}</td>
            <td>{{ q.taken_on }}</td>
            <td>{{ q.score }} / {{ q.quiz.no_of_ques }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade show" id="myquizzes" role="tabpanel" aria-labelledby="myquizzes-tab">
    <table class="table table-hover">
      <thead class="thead-inverse">
       <tr>
         <th>Quiz</th>
         <th>Questions</th>
         <th>Taken By</th>
         <th>Highest Score</th>
         <th></th>
         <th></th>
       </tr>
      </thead>
      <tbody>
        {% for quiz in my_quizzes %}
        <tr>
          <td>{{ quiz.quiz_name }}<br>
          <small class="text-muted d-block">{{ quiz.date_created|date:"d M, Y \a\t G:i" }}</small></td>
          <td class="align-middle">{{ quiz.no_of_ques }}</td>
          <td class="align-middle">{{ quiz.taken_by }}</td>
          <td class="align-middle">{{ quiz.highest_score }}</td>
          <td class="align-middle"><a href="{% url 'delete_quiz' quiz.id %}"><button type="button" class="btn btn-danger">Delete quiz</button></a></td>
          <td class="align-middle"><a href="{% url 'results' quiz.id %}"><button type="button" class="btn btn-info">View Results</button></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
